name: deployment with fancy gems

on:
  push:
    branches: 
      - master

jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-	
      - uses: IJustDev/jekyll-action@master
        env:
          JEKYLL_PAT: ${{ github.actor }}:${{ github.token }}
        with:
          target_branch: deploy
          custom_domain: jonathanbayless.com 
          
